/* Estilo general del cuerpo de la página */
body {
    font-family: cursive; /* Define la fuente del texto */
    background-color: #65b684; /* Color de fondo */
    margin: 0;
    padding: 20px;
}

/* Estilo específico para el encabezado h1 */
h1 {
    color: #133152; /* Color del texto del encabezado */
    text-align: center; /* Alineación del texto */
}

/* Puedes añadir más estilos aquí según necesites */
